.table3 {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 27px;
}

.mycard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
}

.navbar {
	top:0;
    margin: 0px;
}

.navbar-brand {
    margin-left: 16px;
}

.navbar-collapse {
    justify-content: center;
}

use {
    background-color: black;
    font-style: italic;
}

#sitelogo {
    border-radius: 5px;
}
.container {
    position:relative;
	bottom:0;
    margin: 0px;
    margin-top: 30px;
    max-width: none;
    background-color: white;
}

.badge {
    padding-bottom: 1rem;
}

p {
    width: 80%;
}

.tet {
    display: flex;
    flex-direction: column;
    width: 1912px;
    height: auto;
}

.port {
    position: fixed;
    z-index: -1;
}

.sma {
    width: auto;
    margin-bottom: 30px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.img_me {
    max-width: 100%;
    height: 600px;
    width: 60%;
    border-radius: 15px;
    margin-top: 20px;
}

.img_h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact_img {
    width: 100%;
    height: 593px;
}

.contact_div {
    display: flex;
    flex-direction: column-reverse;
}

.contact_h1 {
    position: absolute;
    color: white;
    font-size: 70px;
}

.contact_p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.p_icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.p_con {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 19px;
}

.p_con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 12px;
}

.p_con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.p_list {
    font-size: 18px;
}

.p_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.contact_imgs {
    width: 45px;
    height: auto;
}

.card_imgs {
    width: 100%;
    height: 512px;
    border-radius: 7px;
}

.home_card {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 15px 10px 0px;
    column-gap: 10px;
    row-gap: 15px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.middle2 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 70%;
}

.zoom:hover {
    padding: 5px;
    transform: scale(1.03); 
    transition: 0.5s;
    margin: auto;
}